.dialog-pop-up {
  .MuiDialogTitle-root {
    background-color: $primary;
    text-align: center;
    color: $white;
    .dialog-pop-up-close {
      top: 8px;
      right: 8px;
      color: $white;
      position: absolute;
    }
  }
  .body-main {
    margin: 0rem -12px !important;
  }
  .user-actions {
    margin-top: 2rem;
    text-align: left;
    .MuiButton-root {
      background-color: $gray;
      color: $white;
      margin-right: 1.5rem;
    }
    .MuiButton-root:hover {
      background-color: $gray-midle;
    }
  }
}
