$main-padding: 64px 0 0 min(280px, 60vw);
$main-padding-expanded: min(60px, 20vw);
.main {
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  // width: calc(100% - calc(min(280px, 60vw) - 2rem));
  padding: $main-padding;
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: RGBA(48, 48, 48, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-strong;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-hover;
  }

  .main-card {
    padding: 2rem;
    width: calc(100% - 8rem);
    margin: 0 auto;
  }
}

.main-expanded {
  padding-left: $main-padding-expanded;
}

.main-full {
  padding-left: 0;
}

@media screen and (max-width: 840px) {
  .main,
  .main-expanded {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .main,
  .main-expanded {
    padding-top: 56px;
  }
}
