.main {
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 21rem);
  padding-left: 19.5rem;
  padding-right: 1.5rem;
  padding-top: 5.5rem;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: RGBA(48, 48, 48, 0);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $gray-strong;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-hover;
  }

}
.main-expanded {
  width: calc(100% - 9rem);
  padding-left: 7rem;
  padding-right: 2rem;
}
