.pop-up {
  .MuiDialogTitle-root {
    background-color: $primary;
    text-align: center;
    color: $white;
    .pop-up-close {
      top: 8px;
      right: 8px;
      color: $white;
      position: absolute;
    }
  }
  .MuiDialogContent-root {
    padding-top: 20px !important;
  }
  .MuiPaper-elevation {
    overflow-y: visible !important;
  }
}
