.pop-up {
  .MuiDialogTitle-root {
    background-color: $primary;
    text-align: center;
    color: $white;
    .pop-up-close {
      top: 8px;
      right: 8px;
      color: $white;
      position: absolute;
    }
  }
  .body-main {
    margin: 0 !important;
    padding: 1rem !important;
    width: 100% !important;
  }
}
