.side-bar {
  position: relative;

  .MuiDrawer-paper {
    background-color: $gray-middle;
    border-right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    .MuiListItemIcon-root {
      min-width: 35px !important;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: $gray-middle;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-hover;
    }
  }

  .side-bar-header {
    background-color: $white;
    padding-right: 5px;
    width: 60vw;
    max-width: 280px;
    position: fixed;
    z-index: 1111;
    text-align: center;
    transition-delay: 30ms;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      height: calc(64px - 1.2rem);
      cursor: pointer;
    }
  }

  .side-bar-body {
    transition-delay: 30ms;
    padding-top: 80px;
    width: 60vw;
    max-width: 280px;

    .secondary {
      background-color: rgba(255, 255, 255, 0.15);

      .MuiListItemButton-root {
        padding-left: 2rem;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .secondary-selected {
      background-color: rgba(255, 255, 255, 0.3);

      .MuiListItemButton-root {
        padding-left: 2rem;
      }

      .Mui-selected {
        background-color: transparent;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .side-bar-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 60vw;
    max-width: 280px;
    background-color: $side-bar-bg;
    transition-delay: 30ms;

    padding: 1rem 5px 1rem 0;

    small {
      margin-left: 1rem;
    }
  }
}

.side-bar-collapsed {
  .side-bar-header,
  .side-bar-body,
  .side-bar-footer {
    width: 20vw;
    max-width: 60px;
  }
  .MuiDrawer-paper {
    .MuiListItemIcon-root {
      min-width: 20px !important;
    }
  }
  .side-bar-body {
    .MuiListItemButton-root {
      padding: 0.5rem !important;
    }
  }
  .side-bar-footer {
    small {
      font-size: 0.7rem;
    }
  }
}

#version-date-popover {
  p {
    padding: 0.5rem 0.75rem;
  }
}

.click-listener {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1199;
}

@media screen and (max-width: 600px) {
  .side-bar {
    .side-bar-header {
      height: 56px;

      .logo {
        height: calc(56px - 1.2rem);
        cursor: pointer;
      }
    }
  }
}
