html,
body,
#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-general;
  background-color: $gray-very-strong;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
