html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-general;
  background-color: $gray-very-strong;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.MuiDialogContentText-root {
  display: flex !important;
  flex-direction: column !important;
}
.MuiTableContainer-root {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $gray-middle;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-hover;
  }
}

.notistack-SnackbarContainer {
  width: 288px;
}
