//fonts
$font-general: 'Roboto', sans-serif;

//collors
$primary: #ed1c24;
$primary-hover: #b20000;
$gray: #6a696b;
$gray-middle: #424242;
$gray-strong: #424242;
$gray-very-strong: #191919;
$white: #ffffff;
$gray-secondary: #efefef;
$gray-light: #c9c9c9;

$side-bar-bg: #121212;
